<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My site</title>
</head>
<body>
    <h1 class="heading">Spoken Tutorial - Auto Generating of Spoken Tutorial</h1>
    <h1 class="title">Enter the text below</h1>
    <form action="Audio">
        <textarea class="options" name="text" id="" cols="50" rows="10">
        </textarea><br>
        <select class="options" name="Voice">
            <option disabled="true" selected>-- Select Voice Type--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>